# ignore all files and folders
/*
/.**

# whitelist
# github actions
!/.github/
!/.github/**

# installer
!/bin
!/bin/**

# zsh
!/.zprofile
!/.zshrc
!/.zsh/completions/

# brew bundle
!/Brewfile

# git files
!/README.md
!/.gitignore

# tmux
!.tmux.conf

# cue files
!/cue.mod
!/*.cue

# test files
!/test

# dotnet files
bin
obj

# custom cue modules
!/ci

# devcontainer
!/.devcontainer
!/.devcontainer/**
