# ignore all files and folders
/*
/.**

# whitelist
# github actions
!/.github/
!/.github/**

# installer
!/.bin/
!/.bin/install.sh

# zsh
!/.zshrc
!/.zsh/completions/

# brew bundle
!/Brewfile

# git files
!/README.md
!/.gitignore

# cue files
!/cue.mod
!/*.cue
