[include]
	path = /Users/shusann/.config/gitalias/gitalias.txt
[pull]
	ff = only
[user]
	email = 26602565+shusann01116@users.noreply.github.com
	name = shusann01116
[core]
	excludesfile = ~/.gitignore_global
	pager = hunk pager
[rerere]
	enabled = true
[commit]
	verbose = true
[credential "https://github.com"]
	helper = 
	helper = !/Users/shusann/.nix-profile/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/shusann/.nix-profile/bin/.gh-wrapped auth git-credential
