[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".config/nvim/pack/github/start/copilot.vim"]
	path = .config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
